<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Review</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
</head>
<body style="background: url(https://img3.goodfon.com/wallpaper/nbig/5/41/apple-textures-fon-tekstura.jpg)">
<div class="container">

    <nav class="p-2 border border-light rounded" style="background-color: #4e555b">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/movies}">Home</a>
            </li>
        </ul>
    </nav>

    <div id="formWrapper" style="background-color: #d6d4d5" class="border border-light mt-2 p-3 h-100">

        <h3 class="mt-3 text-dark">Enter your review:</h3>

        <form role="form" action="#" th:action="@{/movies/{id}/add-review(id=${movie_id})}" method="post"
              th:object="${review}">
            <div class="d-flex flex-row" th:object="${newRate}">
                <label>
                    <input type="radio" th:field="*{value}" class="radio ml-3"
                           th:each="i : ${#numbers.sequence(1, 10)}" th:value="${i.doubleValue()}" th:text="${i}"
                    >
                </label>
            </div>
            <div th:object="${review}">
                <label class="mr-2">
                    <input class="custom-radio" type="radio" th:field="*{liked}" name="liked" value="true" th:value="${true}">
                    Like
                </label>
                <label>
                    <input class="custom-radio" type="radio" th:field="*{liked}" name="liked" value="false" th:value="${false}">
                    Don't like
                </label>
            </div>
            <div class="form-group mt-3 w-100">
                <label class="w-100">
                    <textarea type="text" th:field="*{message}" class="form-control rounded" rows="10"></textarea>
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Send review" class="form-control btn btn-info">
            </div>
        </form>
    </div>

</div>

<!--JavaScript-->
<script src="../static/js/bootstrap.bundle.js" th:href="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>



